---
const pageTitle = "自己紹介";
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">ホーム</a>
    <a href="/about/">自己紹介</a>
    <a href="/blog/">ブログ</a>
    <h1>{pageTitle}</h1>
    <h2>... そして私の新しいAstroサイト！</h2>

    <p>私はAstroの入門チュートリアルを進めています。これは私のウェブサイトの2番目のページで、自分で作った最初のページです！</p>

    <p>このサイトはチュートリアルを進めるにつれて更新されていきます。面白いものが見られると思うので、ぜひチェックしに来てください！</p>
  </body>
</html>