---
const pageTitle = "私のAstro学習ブログ";
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">ホーム</a>
    <a href="/about/">自己紹介</a>
    <a href="/blog/">ブログ</a>
    <h1>{pageTitle}</h1>
    <p>ここで、Astroを学ぶ私の旅について投稿します。</p>
    <ul>
      <li><a href="/posts/post-1/">記事1</a></li>
    </ul>
  </body>
</html>